<section>

    <div class="d-flex justify-content-between">
      <h4>Lista de usuarios</h4>
      <a routerLink="/person/create" class="btn btn-success">Crear Nuevo Usuario</a>
    </div>

    <br>
    
    <table class="table ">
      <tr>
        <th>ID</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Tipo de identificacion</th>
        <th># de identificacion</th>
        <th>fecha</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let person of persons">
        <td>{{ person.id }}</td>
        <td>{{ person.nombres }}</td>
        <td>{{ person.apellidos }}</td>
        <td>{{ person.tipoID }}</td>
        <td>{{ person.numeroID }}</td>
        <td>{{ person.fechaNaci }}</td>
        <td>
          <a href="#" [routerLink]="['/person/', 'edit', person.id  ]" class="btn btn-primary">Edit</a>
          <button type="button" (click)="deletePerson(person.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
 </section>